on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

name: pre-commit

jobs:
  pre-commit:
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Install dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::roxygen2
          needs: roxygen2

      - uses: pre-commit/action@v2.0.3

      - uses: stefanzweifel/git-auto-commit-action@v5
        if: '!cancelled()'
        with:
          commit_message: pre-commit autofixes
